<!--/**
     * Template used for including JS client libraries.
     * @param categories Client Library categories
     * @param async true|false see https://developer.mozilla.org/en-US/docs/Web/HTML/Element/script#attr-async
     * @param crossorigin anonymous|use-credentials see https://developer.mozilla.org/en-US/docs/Web/HTML/Element/script#attr-crossorigin
     * @param defer true|false see https://developer.mozilla.org/en-US/docs/Web/HTML/Element/script#attr-defer
     * @param integrity see https://developer.mozilla.org/en-US/docs/Web/HTML/Element/script#attr-integrity
     * @param nomodule true|false https://developer.mozilla.org/en-US/docs/Web/HTML/Element/script#attr-nomodule
     * @param nonce https://developer.mozilla.org/en-US/docs/Web/HTML/Element/script#attr-nonce
     * @param referrerpolicy see https://developer.mozilla.org/en-US/docs/Web/HTML/Element/script#attr-referrerpolicy
     * @param type see https://developer.mozilla.org/en-US/docs/Web/HTML/Element/script#attr-type
     */-->
<template data-sly-template.js="${@ categories, async, crossorigin, defer, integrity,
    nomodule, nonce, referrerpolicy, type}">
  <sly data-sly-test="${request.getResourceResolver}"
      data-sly-use.clientlib="${'io.wcm.wcm.ui.clientlibs.components.JSInclude' @
      categories=categories, async=async, crossorigin=crossorigin, defer=defer, integrity=integrity,
      nomodule=nomodule, nonce=nonce, referrerpolicy=referrerpolicy, type=type}">
${clientlib.include @ context='unsafe'}      
  </sly>
</template>

<!--/**
     * Template used for including CSS client libraries.
     * @param categories Client Library categories
     */-->
<template data-sly-template.css="${@ categories}">
  <sly data-sly-test="${request.getResourceResolver}"
      data-sly-use.clientlib="${'/libs/granite/sightly/templates/graniteClientLib.html'}"
      data-sly-call="${clientlib.include @ categories=categories, mode='css'}"/>
</template>

<!--/**
     * Template used for including ALL client libraries
     * @param categories Client Library categories
     */-->
<template data-sly-template.all="${@ categories}">
  <sly data-sly-call="${css @ categories=categories}"/>
  <sly data-sly-call="${js @ categories=categories}"/>
</template>
