<!--/* Render parsys item */-->
<template data-sly-template.renderItem="${@ item}">

  <!--/* Paragraph - with decoration */-->
  <sly data-sly-test="${item.decorate && !item.newArea}"
      data-sly-resource="${item.resourcePath @ resourceType=item.resourceType,
      decorationTagName=item.elementName, cssClassName=item.cssClassName}"/>

  <!--/* Paragraph - without decoration */-->
  <sly data-sly-test="${!item.decorate && !item.newArea}"
      data-sly-resource="${item.resourcePath @ resourceType=item.resourceType,
      decoration=false}"/>

  <!--/* New area */-->
  <div data-sly-test="${item.newArea}"
        style="${item.style @ context='unsafe'}"
        class="${item.cssClassName}"
        data-sly-element="${item.elementName}"
        data-sly-resource="${item.resourcePath @ resourceType=item.resourceType}"></div>

</template>
