<sly data-sly-use.parsys="io.wcm.wcm.parsys.controller.Parsys"/>
<sly data-sly-use.itemTemplate="itemTemplate.html"/>

<!--/* Parsys variant with wrapper element */-->
<div data-sly-test="${parsys.wrapperElement}"
    data-sly-list.parsysItem="${parsys.items}"
    data-sly-element="${parsys.wrapperElementName}"
    class="${parsys.wrapperCss}">
  <sly data-sly-call="${itemTemplate.renderItem @ item=parsysItem}"/>
</div>

<!--/* Parsys variant without wrapper element */-->
<sly data-sly-test="${!parsys.wrapperElement}"
    data-sly-list.parsysItem="${parsys.items}">
  <sly data-sly-call="${itemTemplate.renderItem @ item=parsysItem}"/>
</sly>
