<div data-sly-use.denyWcmDisabled="io.wcm.wcm.commons.ui.DenyWcmDisabled"
  data-sly-test="${!wcmmode.disabled}"
  data-sly-unwrap><!DOCTYPE html>
<html data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
  <head>
    <title>${currentPage.title}</title>
    <script data-sly-resource="${'.' @ resourceType='/apps/wcm-io/wcm/commons/components/global/wcmInit' }" data-sly-unwrap/>
    <style data-sly-call="${clientLib.css @ categories='coralui2'}" data-sly-unwrap/>
    <style>
      body { margin: 15px; }
    </style>
  </head>
  <body class="coral--light">

    <h1>${currentPage.title}</h1>

    <ul data-sly-list.childPage="${currentPage.listChildren}">
      <li><a href="${childPage.path}.html">${childPage.title}</a></li>
    </ul>

  </body>
</html>
</div>
